<%= form_for(type) do |f| %>
  <% if type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
      <% type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div style="margin:50px"> 

<div class="form-group">
    <%= f.label :Typ, "Typ" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>


  
<div class="form-group">
    <%= f.label :Opis, "Opis" %>
    <%= f.text_field :desc, class: 'form-control' %>
  </div>
  
  <div class="actions">
    <%= f.submit "Zapisz!", class: 'btn btn-primary' %>
     
  </div>
  
 
  </div>
  
<% end %>
